python-dotenv
sqlalchemy
langchain
langchain-text-splitters
fastapi
uvicorn[standard]
websockets
sentence-transformers
weaviate-client
openai
groq
asyncpg
psycopg2-binary
tenacity
crawl4ai
beautifulsoup4
playwright
requests
httpx
certifi