python-dotenv
sqlalchemy
langchain-text-splitters
fastapi
uvicorn[standard]
websockets
sentence-transformers
weaviate-client
groq
asyncpg
psycopg2-binary
tenacity
crawl4ai
beautifulsoup4
playwright
certifi